.nav {
  display: flex;
  gap: 16px;
  padding: 16px;
  background-color: yellow;
}

.link {
  color: #333;
  text-decoration: none;
}

.active {
  color: white;
  background-color: #007bff;
  padding: 4px 8px;
  border-radius: 6px;
}
